# Flutter/Dart関連
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart

# Android関連
android/.gradle/
android/build/
android/local.properties

# iOS関連
ios/.symlinks/
ios/Runner.xcworkspace/xcshareddata/
ios/Pods/

# その他
*.log